.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.headerLogoAndNavigation {
    display: flex;
    align-items: center;
}

.headerLogoAndNavigation img {
    margin-right: 40px;
    width: 136px;
    height: 42px;
}